/********************************
BASE STYLES
********************************/
body {
  background-color: #000000;
  color: white;
}

#nav {
  background-color: yellow;
  color: white;
}
a {
  color: lime;
  text-decoration: none;
}
a:visited {
  color: black;
}
